{% extends "base.html" %}

{% block content %}
<section class="x78zum5 xdt5ytf x1iyjqo2 xg6iff7">
  <div data-visualcompletion="ignore-dynamic">
    <main class="xvbhtw8 x78zum5 xdt5ytf x1iyjqo2 xl56j7k" role="main">
      <div class="x1qjc9v5 x78zum5 x1q0g3np xl56j7k xh8yej3">
        <div style="max-width: 630px; width: 100%;">
          <div class="xw7yly9">
            <div class="xmnaoh6">
              <div data-pagelet="story_tray">
                <div>
                  <div class="x1njnjl6">
                    <div class="x1qjc9v5 x9f619 x78zum5 xdt5ytf xln7xf2 xk390pu x5yr21d x1n2onr6 x11njtxf xh8yej3">
                      <div class="x1qjc9v5 x1q0g3np x5yr21d xw2csxc x10wlt62 x1n2onr6 x1rohswg x78zum5 x1y1aw1k xrw5ot4 xwib8y2 x7coems xfk6m8" role="presentation" style="">
                        <div class="x1qjc9v5 x9f619 x78zum5 x1q0g3np xln7xf2 xk390pu x5yr21d x1n2onr6 x11njtxf" style="">
                          <ul class="_acay">
                            <li style="transform: translateX(207px); width: 1px;">
                            </li>
                            <li class="_acaz" style="transform: translateX(0px);" tabindex="-1">
                              <div aria-label="Story by viktoriia_chaban_hr, not seen" class="x1i10hfl xjbqb8w xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 xdj266r x14z9mp xat24cr x1lziwak x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1fmog5m xu25z0z x140muxe xo1y3bh x87ps6o x1lku1pv x1a2a7pz x6s0dn4 x78zum5 xdt5ytf xl56j7k x1n2onr6 x51sbo7" role="button" tabindex="0">
                                <div class="x1n2onr6">
                                  <div class="x6s0dn4 x78zum5 xl56j7k x1iorvi4 xf159sx xwib8y2 xmzvs34">
                                    <div class="x6s0dn4 xamitd3 x1lliihq xl56j7k x1n2onr6 x1ypdohk">
                                      <canvas class="x1upo8f9 xpdipgo x87ps6o" height="89" style="left: -7.5px; position: absolute; top: -7.5px; height: 89px; width: 89px;" width="89">
                                      </canvas>
                                      <span class="xnz67gz x1c9tyrk xeusxvb x1pahc9y x1ertn4p x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 xzfakq xhihtb0 x1j8hi7x x172hklt xrw4ojt xg6frx5 xw872ko xhgbb2x xynf4tj xdjs2zz x1r9ni5o xvsnedh xoiy6we x16ouz9t x1qj619r xsrjr5h x1xrz1ek x1s928wv x1unh1gc x1iygr5g x2q1x1w x1j6awrg x1m1drc7 x1ypdohk" role="link" style="height: 74px; width: 74px;" tabindex="0">
                                        <img alt="viktoriia_chaban_hr's profile picture" class="xpdipgo x972fbf x10w94by x1qhh985 x14e42zd xk390pu x5yr21d xdj266r x14z9mp xat24cr x1lziwak xl1xv1r xexx8yu xyri2b x18d9i69 x1c1uobl x11njtxf xh8yej3" crossorigin="anonymous" draggable="false" src="https://instagram.fiev6-1.fna.fbcdn.net/v/t51.2885-19/549295840_18520475095015259_3747785401564463419_n.jpg?stp=dst-jpg_s150x150_tt6&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmMyIn0&amp;_nc_ht=instagram.fiev6-1.fna.fbcdn.net&amp;_nc_cat=111&amp;_nc_oc=Q6cZ2QH8jBV33gj-zcFn86Eig9ziGQYjdSk9_k7nq0NX27PKe653EJHdBFU5G4lfZqdwXs0&amp;_nc_ohc=QqSHf4tvl3UQ7kNvwHqYmQ9&amp;_nc_gid=fV8bR-TVWgTKntWb9Cq3Xg&amp;edm=APNOSGoBAAAA&amp;ccb=7-5&amp;oh=00_AfjZxleI-sQF_KPrEVdmcqf7ILT7bRKydrpkSNze56eoAg&amp;oe=6929C5B3&amp;_nc_sid=ca40e6">
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="x4e6jrt">
                                  <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 xyejjpt x15dsfln x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd xo1l8bm x5n08af x10wh9bi xpm28yp x8viiok x1o7cslx" style="--x---base-line-clamp-line-height: 16px; --x-lineHeight: 16px;" dir="auto">
                                    <span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">viktoriia_chaban_hr</span>
                                  </span>
                                </div>
                              </div>
                            </li>
                            <li class="_acaz" style="transform: translateX(104px);" tabindex="-1">
                              <div aria-label="Story by ababahalamaha, not seen" class="x1i10hfl xjbqb8w xjqpnuy xc5r6h4 xqeqjp1 x1phubyo x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xdl72j9 x2lah0s x3ct3a4 xdj266r x14z9mp xat24cr x1lziwak x2lwn1j xeuugli xexx8yu xyri2b x18d9i69 x1c1uobl x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1fmog5m xu25z0z x140muxe xo1y3bh x87ps6o x1lku1pv x1a2a7pz x6s0dn4 x78zum5 xdt5ytf xl56j7k x1n2onr6 x51sbo7" role="button" tabindex="0">
                                <div class="x1n2onr6">
                                  <div class="x6s0dn4 x78zum5 xl56j7k x1iorvi4 xf159sx xwib8y2 xmzvs34">
                                    <div class="x6s0dn4 xamitd3 x1lliihq xl56j7k x1n2onr6 x1ypdohk">
                                      <canvas class="x1upo8f9 xpdipgo x87ps6o" height="89" style="left: -7.5px; position: absolute; top: -7.5px; height: 89px; width: 89px;" width="89">
                                      </canvas>
                                      <span class="xnz67gz x1c9tyrk xeusxvb x1pahc9y x1ertn4p x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 xzfakq xhihtb0 x1j8hi7x x172hklt xrw4ojt xg6frx5 xw872ko xhgbb2x xynf4tj xdjs2zz x1r9ni5o xvsnedh xoiy6we x16ouz9t x1qj619r xsrjr5h x1xrz1ek x1s928wv x1unh1gc x1iygr5g x2q1x1w x1j6awrg x1m1drc7 x1ypdohk" role="link" style="height: 74px; width: 74px;" tabindex="0">
                                        <img alt="ababahalamaha's profile picture" class="xpdipgo x972fbf x10w94by x1qhh985 x14e42zd xk390pu x5yr21d xdj266r x14z9mp xat24cr x1lziwak xl1xv1r xexx8yu xyri2b x18d9i69 x1c1uobl x11njtxf xh8yej3" crossorigin="anonymous" draggable="false" src="https://instagram.fiev6-1.fna.fbcdn.net/v/t51.2885-19/292422647_587265289495735_6573183509910945159_n.jpg?stp=dst-jpg_s150x150_tt6&amp;efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby40MDAuYzIifQ&amp;_nc_ht=instagram.fiev6-1.fna.fbcdn.net&amp;_nc_cat=107&amp;_nc_oc=Q6cZ2QGXzt2l6pH1_MRZgYT5zUmA3eYrtUhvQFHroXB_ux6oyULVdY-XQF1L5w0Wt9D3Qx8&amp;_nc_ohc=ejhxhF1EUx0Q7kNvwHuho7e&amp;_nc_gid=1u4EU6bV9iu03OkyQWd_iw&amp;edm=APNOSGoBAAAA&amp;ccb=7-5&amp;oh=00_AfhxIx7vRrqFKPoF5FALcHpqEW4Ih077qHRZRDiWFBb7sw&amp;oe=6929B540&amp;_nc_sid=ca40e6">
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="x4e6jrt">
                                  <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 xyejjpt x15dsfln x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd xo1l8bm x5n08af x10wh9bi xpm28yp x8viiok x1o7cslx" style="--x---base-line-clamp-line-height: 16px; --x-lineHeight: 16px;" dir="auto">
                                    <span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">ababahalamaha</span>
                                  </span>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1">
              <div class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xf68679 x5lhr3w xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1" style="--x-maxWidth: 100%; --x-width: min(470px, 100vw);">
                <div>
                  <div style="display: flex; flex-direction: column; padding-bottom: 6442px; padding-top: 0px; position: relative;">
                    <!-- paste article here -->
                    {% include 'feeditems/article.html' %}
                    {% include 'feeditems/article.html' %}
                    {% include 'feeditems/article.html' %}
                    {% include 'feeditems/article.html' %}
                    {% include 'feeditems/article.html' %}
                    {% include 'feeditems/article.html' %}
                    {% include 'feeditems/article.html' %}
                  </div>
                </div>
                <div class="x1qjc9v5 x972fbf x10w94by x1qhh985 x14e42zd x9f619 x78zum5 xdt5ytf x2lah0s xln7xf2 xk390pu xsdox4t x14z9mp xat24cr x1lziwak x1tfhste xexx8yu xyri2b x18d9i69 x1c1uobl x1n2onr6 x11njtxf">
                  <div data-visualcompletion="loading-state" class="x78zum5 xdt5ytf xl56j7k x1nrll8i x10l6tqk xwa60dl x11lhmoz" role="progressbar" style="height: 32px; width: 32px;" tabindex="-1">
                    <svg aria-label="Loading..." class="xemfg65 xa4qsjk x1ka1v4i xbv57ra" role="img" viewBox="0 0 100 100">
                      <rect class="x1i210e2" height="6" opacity="0" rx="3" ry="3" transform="rotate(-90 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.08333333333333333" rx="3" ry="3" transform="rotate(-60 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.16666666666666666" rx="3" ry="3" transform="rotate(-30 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.25" rx="3" ry="3" transform="rotate(0 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.3333333333333333" rx="3" ry="3" transform="rotate(30 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.4166666666666667" rx="3" ry="3" transform="rotate(60 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.5" rx="3" ry="3" transform="rotate(90 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.5833333333333334" rx="3" ry="3" transform="rotate(120 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.6666666666666666" rx="3" ry="3" transform="rotate(150 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.75" rx="3" ry="3" transform="rotate(180 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.8333333333333334" rx="3" ry="3" transform="rotate(210 50 50)" width="25" x="72" y="47">
                      </rect>
                      <rect class="x1i210e2" height="6" opacity="0.9166666666666666" rx="3" ry="3" transform="rotate(240 50 50)" width="25" x="72" y="47">
                      </rect>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="x1dr59a3 x13vifvy x7vhb2i x6bx242">
          <div class="html-div x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw xseo6mj x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
            <div class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu x18d9i69 x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw xv54qhq xf7dkkf x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
              <div class="html-div xdj266r xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 x5lhr3w xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x2fvf9 x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1" style="--x-width: 100%;">
                <div class="x1qnrgzn x1cek8b2 xb10e19 x19rwo8q x1lliihq x193iq5w xh8yej3">
                  <div class="html-div xdj266r x14z9mp xat24cr x1lziwak x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw xyri2b x1c1uobl x18d9i69 xexx8yu x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                    <div class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x1qjc9v5 x9f619 x78zum5 xdt5ytf x1iyjqo2 xl56j7k xeuugli">
                      {% include 'feeditems/current_user.html' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="html-div x14z9mp x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw xqui205 x1e56ztr x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
              <div class="html-div xdj266r xat24cr xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw xyqm7xq x1ys307a x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                <div class="x78zum5 xdt5ytf xdj266r x14z9mp xod5an3 x162z183 x1j7kr1c xvbhtw8">
                  {% include 'components/suggested_for_you.html' %}
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
          </div>
        </div>
      </div>
    </main>
    {% include 'components/footer.html' %}
  </div>
</section>

<script src="{{ url_for('static', filename='js/feed.js') }}"></script>
{% endblock %}