{% extends "base.html" %}

{% block header %}
<!-- No header on login page -->
{% endblock %}

{% block content %}
<div id="mount_0_0_GW">
   <div class="x10o80wk x14k21rp xh8yej3">
      <section class="x78zum5 xdt5ytf x1iyjqo2 xg6iff7">
         <main class="xvbhtw8 x78zum5 xdt5ytf x1iyjqo2 xl56j7k" role="main">
            <article class="x1qjc9v5 x972fbf x10w94by x1qhh985 x14e42zd x9f619 x78zum5 x1q0g3np x1iyjqo2 x2lah0s xk390pu xl56j7k xg87l8a x11t971q xat24cr xvc5jky x1ykew4q xexx8yu xyri2b x1c1uobl x1gan7if x11njtxf xh8yej3 x1d2lwc3"
            style="margin-top: 0px;">
               <div class="x6s0dn4 x78zum5 xdt5ytf x1iyjqo2 xt7dq6l xl56j7k xm5kwj2">
                  <img class="xz74otr x15mokao x1ga7v0g x16uus16 xbiv7yw x4pkz1m x14m272y x14atkfc" alt="" referrerpolicy="origin-when-cross-origin"
                  src="{{ url_for('static', filename='images/landing-2x.png') }}">
               </div>
               <div class="x5n08af x78zum5 xdt5ytf x1iyjqo2 xl56j7k x7qam4e x14vqqas x15lw1kp x1dc814f x1owpceq xh8yej3">
                     {% include 'components/login.html' %}
                     {% include 'components/do_signup.html' %}
                  </div>
            </article>
         </main>
         {% include 'components/footer.html' %}
      </section>
   </div>
</div>


<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}