{% extends "base.html" %}

{% block header %}
<!-- No header on signup page -->
{% endblock %}

{% block content %}
<div id="mount_0_0_GW"><div><div>
<div class="x10o80wk x14k21rp xh8yej3">
   <section class="x78zum5 xdt5ytf x1iyjqo2 xg6iff7">
      <main class="xvbhtw8 x78zum5 xdt5ytf x1iyjqo2 xl56j7k" role="main">
         <article class="x1qjc9v5 x972fbf x10w94by x1qhh985 x14e42zd x9f619 x78zum5 x1q0g3np x1iyjqo2 x2lah0s xk390pu xl56j7k xg87l8a x11t971q xat24cr xvc5jky x1ykew4q xexx8yu xyri2b x1c1uobl x1gan7if x11njtxf xh8yej3 x1d2lwc3"
         style="margin-top: 0px;">
            <div class="x6s0dn4 x78zum5 xdt5ytf x1iyjqo2 xt7dq6l xl56j7k xm5kwj2">
                <img class="xz74otr x15mokao x1ga7v0g x16uus16 xbiv7yw x4pkz1m x14m272y x14atkfc" alt="" referrerpolicy="origin-when-cross-origin"
                 src="{{ url_for('static', filename='images/landing-2x.png') }}"></div>
            <div class="x5n08af x78zum5 xdt5ytf x1iyjqo2 xl56j7k x7qam4e x14vqqas x15lw1kp x1dc814f x1owpceq xh8yej3">
               <div class="x6s0dn4 xvbhtw8 x1pmru9 x1yvgwvq xjd31um x1ixjvfu xwt6s21 xkqq1k2 x91jh78 x1xkn691 x4oqio7 x9f619 x78zum5 xjl7jj xdt5ytf x2lah0s xln7xf2 xk390pu xdj266r x14z9mp x1lziwak xyorhqc xzboxd6 x889kno xyri2b x1a8lsjc x1c1uobl x1n2onr6 x11njtxf x1ejq31n x18oe1m7 x1sy0etr xstzfhl x972fbf x10w94by x1qhh985 x14e42zd">
                  <div class="html-div x14z9mp x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw xseo6mj xod5an3 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                    <i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" 
                       style="background-image: url(&quot;{{ url_for('static', filename='images/logo_type.png') }}&quot;); background-size: auto; width: 357px; height: 131px; background-repeat: no-repeat; display: inline-block;"></i></div>
                  <div class="xod5an3 x1dc814f xh8yej3">
                     <div>
                        <form class="x972fbf x10w94by x1qhh985 x14e42zd x78zum5 xdt5ytf xln7xf2 xk390pu xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x11njtxf" id="signupForm" method="post">
                           <p style="text-align: center; margin-bottom: 20px; font-size: 16px; color: #65676b;">
                              Sign up to see photos and videos from your friends.
                           </p>

                           <div class="xdj266r x11gldyt xzueoph x11hdunq">
                              <div class="x6s0dn4 xnz67gz x19gtwsn xhpglom x1xp9za0 x1fqc88y x1fqc64z xs83zq4 xt6ovg4 x1ru8ea5 x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x178xt8z x1lun4ml xso031l xpilrb4 x9f619 x5n08af x78zum5 x1q0g3np xvs91rp x1n2onr6 xh8yej3">
                                 <label class="_aa48"><span class="_aa4a">Email</span><input aria-label="Email" aria-required="true" autocapitalize="none" autocorrect="off" class="_aa4b _add6 _ac4d _ap35" type="email" value="" name="email"></label>
                                 <div class="x6s0dn4 x972fbf x10w94by x1qhh985 x14e42zd x9f619 x78zum5 xdl72j9 x1q0g3np x1c4vz4f x2lah0s xk390pu x5yr21d xdj266r x14z9mp xat24cr x1lziwak xexx8yu x18d9i69 x1c1uobl xf159sx x1n2onr6 xxymvpz"></div>
                              </div>
                           </div>

                           <div class="xdj266r x11gldyt xzueoph x11hdunq">
                              <div class="x6s0dn4 xnz67gz x19gtwsn xhpglom x1xp9za0 x1fqc88y x1fqc64z xs83zq4 xt6ovg4 x1ru8ea5 x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x178xt8z x1lun4ml xso031l xpilrb4 x9f619 x5n08af x78zum5 x1q0g3np xvs91rp x1n2onr6 xh8yej3">
                                 <label class="_aa48"><span class="_aa4a">Username</span><input aria-label="Username" aria-required="true" autocapitalize="none" autocorrect="off" class="_aa4b _add6 _ac4d _ap35" type="text" value="" name="username"></label>
                                 <div class="x6s0dn4 x972fbf x10w94by x1qhh985 x14e42zd x9f619 x78zum5 xdl72j9 x1q0g3np x1c4vz4f x2lah0s xk390pu x5yr21d xdj266r x14z9mp xat24cr x1lziwak xexx8yu x18d9i69 x1c1uobl xf159sx x1n2onr6 xxymvpz"></div>
                              </div>
                           </div>

                           <div class="xdj266r x11gldyt xzueoph x11hdunq">
                              <div class="x6s0dn4 xnz67gz x19gtwsn xhpglom x1xp9za0 x1fqc88y x1fqc64z xs83zq4 xt6ovg4 x1ru8ea5 x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x178xt8z x1lun4ml xso031l xpilrb4 x9f619 x5n08af x78zum5 x1q0g3np xvs91rp x1n2onr6 xh8yej3">
                                 <label class="_aa48"><span class="_aa4a">Password</span><input aria-label="Password" aria-required="true" autocapitalize="none" autocorrect="off" class="_aa4b _add6 _ac4d _ap35" type="password" value="" name="password"></label>
                                 <div class="x6s0dn4 x972fbf x10w94by x1qhh985 x14e42zd x9f619 x78zum5 xdl72j9 x1q0g3np x1c4vz4f x2lah0s xk390pu x5yr21d xdj266r x14z9mp xat24cr x1lziwak xexx8yu x18d9i69 x1c1uobl xf159sx x1n2onr6 xxymvpz"></div>
                              </div>
                           </div>

                           <div class="xdj266r x11gldyt xzueoph x11hdunq">
                              <div class="x6s0dn4 xnz67gz x19gtwsn xhpglom x1xp9za0 x1fqc88y x1fqc64z xs83zq4 xt6ovg4 x1ru8ea5 x13fuv20 x18b5jzi x1q0q8m5 x1t7ytsu x178xt8z x1lun4ml xso031l xpilrb4 x9f619 x5n08af x78zum5 x1q0g3np xvs91rp x1n2onr6 xh8yej3">
                                 <label class="_aa48"><span class="_aa4a">Confirm Password</span><input aria-label="Confirm Password" aria-required="true" autocapitalize="none" autocorrect="off" class="_aa4b _add6 _ac4d _ap35" type="password" value="" name="password_confirm"></label>
                                 <div class="x6s0dn4 x972fbf x10w94by x1qhh985 x14e42zd x9f619 x78zum5 xdl72j9 x1q0g3np x1c4vz4f x2lah0s xk390pu x5yr21d xdj266r x14z9mp xat24cr x1lziwak xexx8yu x18d9i69 x1c1uobl xf159sx x1n2onr6 xxymvpz"></div>
                              </div>
                           </div>

                           <div id="error-message" style="color: #e74c3c; margin: 15px 0; text-align: center; display: none;"></div>

                           <div class="html-div xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1xmf6yo x1e56ztr x11hdunq x11gldyt x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xc26acl x1qjc9v5 xamitd3 x1nhvcw1">
                              <button class=" _aswp _aswr _aswu _asw_ _asx2" type="submit">
                                 <div class="html-div xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x9f619 xjbqb8w x78zum5 x15mokao x1ga7v0g x16uus16 xbiv7yw x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                    Sign Up
                                 </div>
                              </button>
                           </div>
                        </form>
                     </div>  
                  </div>
               </div>
               <div class="x6s0dn4 xvbhtw8 x1pmru9 x1yvgwvq xjd31um x1ixjvfu xwt6s21 xkqq1k2 x91jh78 x1xkn691 x4oqio7 x9f619 x78zum5 xjl7jj xdt5ytf x2lah0s xln7xf2 xk390pu xdj266r x14z9mp x1lziwak xyorhqc xzboxd6 x889kno xyri2b x1a8lsjc x1c1uobl x1n2onr6 x11njtxf x1ejq31n x18oe1m7 x1sy0etr xstzfhl x972fbf x10w94by x1qhh985 x14e42zd">
                  <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 xyejjpt x15dsfln x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x1roi4f4 x1tu3fi x3x7a5m x10wh9bi xpm28yp x8viiok x1o7cslx" style="--x---base-line-clamp-line-height: 18px; --x-lineHeight: 18px;" dir="auto">
                     <p class="x5n08af x1f6kntn xcxhlts xjx09e3 x1fqp7bg xx6jrq6 x2b8uid">Have an account? 
                        <a class="x1i10hfl xjbqb8w x1ejq31n x18oe1m7 x1sy0etr xstzfhl x972fbf x10w94by x1qhh985 x14e42zd x9f619 x1ypdohk xt0psk2 x3ct3a4 xdj266r x14z9mp xat24cr x1lziwak xexx8yu xyri2b x18d9i69 x1c1uobl x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd" 
                           href="/login" role="link" tabindex="0">
                            <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1s688f x1iiplp5 x10wh9bi xpm28yp x8viiok x1o7cslx" 
                                  style="line-height: 18px;">Log in</span></a></p>
                  </span></div>
            </div>
         </article>
      </main>
   </section>
</div>
</div></div></div>

<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}